In [1]:
from datetime import datetime

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

import yfinance as yf

from scipy.stats import norm
from random import sample

In [2]:
end = datetime.now()
start = datetime(end.year-5,end.month,end.day)

In [3]:
stock_list = ['hdfc', 'icici', 'reliance', 'wipro', 'hcltech', 'cholafin', 'crompton', 'srf', 'voltas', 'tatasteel']
stock_symbols = ['HDFCBANK.NS', 'ICICIBANK.NS', 'RELIANCE.NS', 'WIPRO.NS', 'HCLTECH.NS', 'CHOLAFIN.NS', 'CROMPTON.NS', 'SRF.NS', 'VOLTAS.NS', 'TATASTEEL.NS']

In [4]:
for stock, stock_symbol in zip(stock_list, stock_symbols):
    globals()[stock] = yf.download(stock_symbol, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
nifty_50 = yf.download("^NSEI", start, end)

nifty_50_daily = nifty_50['Adj Close'].pct_change().dropna()
nifty_50_daily

[*********************100%***********************]  1 of 1 completed

Date
2016-06-23    0.008137
2016-06-24   -0.021988
2016-06-27    0.000754
2016-06-28    0.004095
2016-06-29    0.009369
                ...
2021-06-16   -0.006409
2021-06-17   -0.004830
2021-06-18   -0.000513
2021-06-21    0.004027
2021-06-22    0.006640
Name: Adj Close, Length: 1227, dtype: float64

In [6]:
closing_df = pd.DataFrame(index=hdfc.index, columns=stock_list)

In [7]:
for stock in stock_list:
    closing_df[stock] = globals()[stock]['Adj Close']

In [8]:
closing_df

,hdfc,icici,reliance,wipro,hcltech,cholafin,crompton,srf,voltas,tatasteel
Date,,,,,,,,,,
2016-06-22,568.675537,209.426147,473.212738,207.303833,356.204712,179.283417,133.924515,1216.861450,305.606354,277.809753
2016-06-23,577.704468,211.090790,473.188629,207.506302,355.904205,179.081635,133.537857,1214.241089,304.375671,279.063232
2016-06-24,564.015503,202.372482,459.192505,204.358887,342.982025,177.976532,132.136261,1216.133789,292.920074,261.264008
2016-06-27,563.068909,203.905045,461.219543,201.726898,339.838196,184.491730,130.686340,1229.382446,294.198212,259.467407
2016-06-28,566.466858,204.300232,462.257202,199.665451,329.736206,183.982452,129.864731,1243.020142,297.275085,260.303040
...,...,...,...,...,...,...,...,...,...,...
2021-06-16,1484.599976,640.099976,2211.600098,555.250000,979.400024,564.250000,423.399994,7147.049805,1028.150024,1117.150024
2021-06-17,1466.099976,633.000000,2215.649902,558.700012,986.400024,549.799988,422.250000,7134.850098,1030.250000,1103.750000
2021-06-18,1479.800049,630.400024,2225.649902,549.799988,975.250000,538.500000,421.200012,7069.200195,1029.300049,1092.300049
2021-06-21,1488.699951,631.250000,2237.250000,542.150024,982.000000,543.500000,415.149994,6933.200195,1019.150024,1106.150024
2021-06-22,1500.849976,637.650024,2246.649902,554.599976,983.650024,552.200012,412.299988,6962.700195,1022.900024,1111.699951

In [9]:
daily_ret = closing_df.pct_change()
daily_ret = daily_ret.dropna()

In [10]:
daily_ret

,hdfc,icici,reliance,wipro,hcltech,cholafin,crompton,srf,voltas,tatasteel
Date,,,,,,,,,,
2016-06-23,0.015877,0.007949,-0.000051,0.000977,-0.000844,-0.001125,-0.002887,-0.002153,-0.004027,0.004512
2016-06-24,-0.023695,-0.041301,-0.029578,-0.015168,-0.036308,-0.006171,-0.010496,0.001559,-0.037636,-0.063782
2016-06-27,-0.001678,0.007573,0.004414,-0.012879,-0.009166,0.036607,-0.010973,0.010894,0.004363,-0.006877
2016-06-28,0.006035,0.001938,0.002250,-0.010219,-0.029726,-0.002760,-0.006287,0.011093,0.010459,0.003221
2016-06-29,0.009374,0.015008,0.009501,0.022400,0.021382,-0.008931,0.033495,0.010853,0.018312,0.006742
...,...,...,...,...,...,...,...,...,...,...
2021-06-16,-0.003791,-0.008058,-0.017067,-0.004750,-0.006139,-0.007476,-0.014547,-0.000371,-0.031600,-0.027378
2021-06-17,-0.012461,-0.011092,0.001831,0.006213,0.007147,-0.025609,-0.002716,-0.001707,0.002042,-0.011995
2021-06-18,0.009345,-0.004107,0.004513,-0.015930,-0.011304,-0.020553,-0.002487,-0.009201,-0.000922,-0.010374
2021-06-21,0.006014,0.001348,0.005212,-0.013914,0.006921,0.009285,-0.014364,-0.019238,-0.009861,0.012680
2021-06-22,0.008161,0.010139,0.004202,0.022964,0.001680,0.016007,-0.006865,0.004255,0.003680,0.005017

In [11]:
corr_stock = daily_ret.copy()
corr_stock['nifty_50'] = nifty_50_daily

In [12]:
corr_stock

,hdfc,icici,reliance,wipro,hcltech,cholafin,crompton,srf,voltas,tatasteel,nifty_50
Date,,,,,,,,,,,
2016-06-23,0.015877,0.007949,-0.000051,0.000977,-0.000844,-0.001125,-0.002887,-0.002153,-0.004027,0.004512,0.008137
2016-06-24,-0.023695,-0.041301,-0.029578,-0.015168,-0.036308,-0.006171,-0.010496,0.001559,-0.037636,-0.063782,-0.021988
2016-06-27,-0.001678,0.007573,0.004414,-0.012879,-0.009166,0.036607,-0.010973,0.010894,0.004363,-0.006877,0.000754
2016-06-28,0.006035,0.001938,0.002250,-0.010219,-0.029726,-0.002760,-0.006287,0.011093,0.010459,0.003221,0.004095
2016-06-29,0.009374,0.015008,0.009501,0.022400,0.021382,-0.008931,0.033495,0.010853,0.018312,0.006742,0.009369
...,...,...,...,...,...,...,...,...,...,...,...
2021-06-16,-0.003791,-0.008058,-0.017067,-0.004750,-0.006139,-0.007476,-0.014547,-0.000371,-0.031600,-0.027378,-0.006409
2021-06-17,-0.012461,-0.011092,0.001831,0.006213,0.007147,-0.025609,-0.002716,-0.001707,0.002042,-0.011995,-0.004830
2021-06-18,0.009345,-0.004107,0.004513,-0.015930,-0.011304,-0.020553,-0.002487,-0.009201,-0.000922,-0.010374,-0.000513
2021-06-21,0.006014,0.001348,0.005212,-0.013914,0.006921,0.009285,-0.014364,-0.019238,-0.009861,0.012680,0.004027
2021-06-22,0.008161,0.010139,0.004202,0.022964,0.001680,0.016007,-0.006865,0.004255,0.003680,0.005017,0.006640

In [13]:
corr_df = corr_stock.corr(method='pearson')

In [14]:
corr_df

,hdfc,icici,reliance,wipro,hcltech,cholafin,crompton,srf,voltas,tatasteel,nifty_50
hdfc,1.000000,0.538076,0.398177,0.214388,0.220807,0.437284,0.226992,0.302361,0.358584,0.378510,0.757107
icici,0.538076,1.000000,0.362288,0.217594,0.195580,0.475729,0.231757,0.354925,0.372866,0.449573,0.731755
reliance,0.398177,0.362288,1.000000,0.229597,0.269925,0.291589,0.168298,0.295211,0.309451,0.338706,0.638283
wipro,0.214388,0.217594,0.229597,1.000000,0.485092,0.203231,0.169760,0.209291,0.222507,0.233009,0.408413
hcltech,0.220807,0.195580,0.269925,0.485092,1.000000,0.186485,0.164871,0.240894,0.229307,0.235534,0.434597
cholafin,0.437284,0.475729,0.291589,0.203231,0.186485,1.000000,0.271722,0.340640,0.410363,0.387568,0.585664
crompton,0.226992,0.231757,0.168298,0.169760,0.164871,0.271722,1.000000,0.229615,0.274101,0.209563,0.327492
srf,0.302361,0.354925,0.295211,0.209291,0.240894,0.340640,0.229615,1.000000,0.387676,0.362540,0.510575
voltas,0.358584,0.372866,0.309451,0.222507,0.229307,0.410363,0.274101,0.387676,1.000000,0.414762,0.528034
tatasteel,0.378510,0.449573,0.338706,0.233009,0.235534,0.387568,0.209563,0.362540,0.414762,1.000000,0.608752
nifty_50,0.757107,0.731755,0.638283,0.408413,0.434597,0.585664,0.327492,0.510575,0.528034,0.608752,1.000000

In [15]:
# Beta => Covariance / Variance    OR    (Correlation * Stock_STD) / StandardMarket_STD

stock_beta = pd.Series(index=stock_list)
nifty_std = corr_stock['nifty_50'].std()

for stock in stock_list:
    stock_beta[stock] = (corr_df['nifty_50'][stock] * corr_stock[stock].std()) / nifty_std

<ipython-input-15-50f238797346>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  stock_beta = pd.Series(index=stock_list)

In [16]:
stock_beta

hdfc         1.023500
icici        1.449947
reliance     1.078713
wipro        0.594195
hcltech      0.658447
cholafin     1.471992
crompton     0.594350
srf          0.967133
voltas       0.925753
tatasteel    1.269402
dtype: float64

In [17]:
metrics = ['Return','Volatility','Sharpe Ratio', 'VaR', 'Portfolio Beta', 'Treynor Ratio', 'Jensen Alpha']
p = ['Portfolio 1', 'Portfolio 2', 'Portfolio 3', 'Portfolio 4', 'Portfolio 5', 'Portfolio 6','Portfolio 7', 'Portfolio 8', 'Portfolio 9', 'Portfolio 10']
portfolio = []

max_sharpe = pd.DataFrame(index=metrics)

In [18]:
while len(portfolio) < 10:
    sm = stock_list.copy()
    sl = sample(stock_list,5)
    sl.sort()
    if sl in portfolio:
        continue
    else:
        portfolio.append(sl)
    for st in sl:
        sm.remove(st)
    portfolio.append(sm)

In [19]:
portfolio

[['icici', 'reliance', 'srf', 'tatasteel', 'voltas'],
 ['hdfc', 'wipro', 'hcltech', 'cholafin', 'crompton'],
 ['cholafin', 'crompton', 'hdfc', 'icici', 'voltas'],
 ['reliance', 'wipro', 'hcltech', 'srf', 'tatasteel'],
 ['cholafin', 'hcltech', 'srf', 'tatasteel', 'wipro'],
 ['hdfc', 'icici', 'reliance', 'crompton', 'voltas'],
 ['crompton', 'hcltech', 'icici', 'reliance', 'voltas'],
 ['hdfc', 'wipro', 'cholafin', 'srf', 'tatasteel'],
 ['hcltech', 'hdfc', 'reliance', 'tatasteel', 'voltas'],
 ['icici', 'wipro', 'cholafin', 'crompton', 'srf']]

In [20]:
for portfolios in portfolio:

    daily_retn = daily_ret[portfolios].copy()
    cov_matrixn = daily_retn.cov()
    stock_betan = stock_beta[portfolios].copy()
    
    
    runs = 10
    results = np.zeros((7+len(portfolios),runs))
    risk_free_rate = 0.0602
    alpha = 0.01
    days = 252
#     total_investment = 1000000
    market_return = nifty_50_daily.mean() * days 

    for i in range(runs):

        pb = 0

        weights = np.random.random(len(portfolios))
        weights /= np.sum(weights)

        portfolio_return = np.sum(daily_retn.mean()*weights) * days
        portfolio_std_dev = np.sqrt(np.dot(weights.T,np.dot(cov_matrixn, weights))) * np.sqrt(days)

        results[0,i] = portfolio_return
        results[1,i] = portfolio_std_dev

        # SHARPE RATIO => (portfolio_return - risk_free_rate) / volatility
        results[2,i] = (results[0,i] - risk_free_rate) / results[1,i]

        # VaR => return - (Z * volatility)
        results[3,i] = abs(portfolio_return - (portfolio_std_dev * norm.ppf(1 - alpha)))  # ppf => inverse of cdf

        for j in range(len(weights)):
            results[j+7,i] = weights[j]
            pb += weights[j] * stock_betan[j]

        # PORTFOLIO BETA => sum(weight * beta)
        results[4,i] = pb

        # TREYNOR RATIO => (portfolio_return - risk_free_rate) / portfolio_beta
        results[5,i] = (results[0,i] - risk_free_rate) / results[4,i]

        # JENSEN ALPHA => portfolio_return - (risk_free_rate + portfolio_beta * (market_return - risk_free_rate))
        results[6,i] = results[0,i] - (risk_free_rate + results[4,i] * (market_return - risk_free_rate))
        
    
    a = metrics+portfolios
    results = pd.DataFrame(results.T, columns=a)
    
    total_results = results.copy()
    for stock in portfolios:
        total_results[stock] = total_results[stock] * 100
     
    
    total_results = pd.concat([total_results[metrics], total_results[portfolios].round(decimals=2)], axis=1)
    
    max_sharpen = total_results.iloc[results['Sharpe Ratio'].idxmax()]
    
    max_sharpe = pd.concat([max_sharpe, max_sharpen], axis=1)
    
    print(max_sharpen.to_frame().T)
max_sharpe.columns = p

   Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  Treynor Ratio  \
9  0.3585    0.245195      1.216581  0.211909        1.144231       0.260699

   Jensen Alpha  icici  reliance    srf  tatasteel  voltas
9      0.192808  19.73     24.43  27.29      19.31    9.23
     Return  Volatility  Sharpe Ratio      VaR  Portfolio Beta  Treynor Ratio  \
5  0.268319    0.205558       1.01246  0.20988         0.87257       0.238513

   Jensen Alpha   hdfc  wipro  hcltech  cholafin  crompton
5      0.127673  23.87  11.96    20.65     18.52     24.99
     Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  \
5  0.287611    0.238571      0.953223  0.267388        1.070917

   Treynor Ratio  Jensen Alpha  cholafin  crompton   hdfc  icici  voltas
5       0.212352      0.128679     17.46     20.08  21.55  18.18   22.74
    Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  Treynor Ratio  \
9  0.35867    0.226863      1.315641  0.169092        0.962897       0.309971

   Jensen Alpha  reliance  wipro  hcltech    srf  tatasteel
9      0.209696     31.25  16.04     4.39  36.98      11.33
     Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  \
9  0.355326    0.254293      1.160573  0.236249        0.993419

   Treynor Ratio  Jensen Alpha  cholafin  hcltech    srf  tatasteel  wipro
9       0.297081      0.203538      0.89     2.33  41.64      34.74   20.4
     Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  \
5  0.307091    0.225782      1.093493  0.218157        0.954017

   Treynor Ratio  Jensen Alpha  hdfc  icici  reliance  crompton  voltas
5       0.258791      0.158937  0.94  19.83     20.45     32.56   26.22
    Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  Treynor Ratio  \
0  0.30767    0.206213      1.200074  0.172052        0.866318       0.285658

   Jensen Alpha  crompton  hcltech  icici  reliance  voltas
0      0.167601     18.02    22.22   1.66     33.34   24.77
     Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  \
5  0.325235     0.23138      1.145451  0.213036        0.991437

   Treynor Ratio  Jensen Alpha  hdfc  wipro  cholafin    srf  tatasteel
5       0.267324       0.17363  5.55  31.97     16.71  27.23      18.55
     Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  \
2  0.308946    0.212428      1.170967  0.185235        1.012364

   Treynor Ratio  Jensen Alpha  hcltech   hdfc  reliance  tatasteel  voltas
2       0.245708      0.155412    16.31  19.07      30.2      19.03   15.39
    Return  Volatility  Sharpe Ratio       VaR  Portfolio Beta  Treynor Ratio  \
3  0.32469    0.224923      1.175913  0.198559        0.918285       0.288026

   Jensen Alpha  icici  wipro  cholafin  crompton    srf
3      0.179829  20.69  17.61      2.47     25.64  33.59

In [21]:
max_sharpe

,Portfolio 1,Portfolio 2,Portfolio 3,Portfolio 4,Portfolio 5,Portfolio 6,Portfolio 7,Portfolio 8,Portfolio 9,Portfolio 10
Return,0.358500,0.268319,0.287611,0.358670,0.355326,0.307091,0.307670,0.325235,0.308946,0.324690
Volatility,0.245195,0.205558,0.238571,0.226863,0.254293,0.225782,0.206213,0.231380,0.212428,0.224923
Sharpe Ratio,1.216581,1.012460,0.953223,1.315641,1.160573,1.093493,1.200074,1.145451,1.170967,1.175913
VaR,0.211909,0.209880,0.267388,0.169092,0.236249,0.218157,0.172052,0.213036,0.185235,0.198559
Portfolio Beta,1.144231,0.872570,1.070917,0.962897,0.993419,0.954017,0.866318,0.991437,1.012364,0.918285
Treynor Ratio,0.260699,0.238513,0.212352,0.309971,0.297081,0.258791,0.285658,0.267324,0.245708,0.288026
Jensen Alpha,0.192808,0.127673,0.128679,0.209696,0.203538,0.158937,0.167601,0.173630,0.155412,0.179829
icici,19.730000,NaN,18.180000,NaN,NaN,19.830000,1.660000,NaN,NaN,20.690000
reliance,24.430000,NaN,NaN,31.250000,NaN,20.450000,33.340000,NaN,30.200000,NaN
srf,27.290000,NaN,NaN,36.980000,41.640000,NaN,NaN,27.230000,NaN,33.590000
tatasteel,19.310000,NaN,NaN,11.330000,34.740000,NaN,NaN,18.550000,19.030000,NaN
voltas,9.230000,NaN,22.740000,NaN,NaN,26.220000,24.770000,NaN,15.390000,NaN
hdfc,NaN,23.870000,21.550000,NaN,NaN,0.940000,NaN,5.550000,19.070000,NaN
wipro,NaN,11.960000,NaN,16.040000,20.400000,NaN,NaN,31.970000,NaN,17.610000
hcltech,NaN,20.650000,NaN,4.390000,2.330000,NaN,22.220000,NaN,16.310000,NaN
cholafin,NaN,18.520000,17.460000,NaN,0.890000,NaN,NaN,16.710000,NaN,2.470000
crompton,NaN,24.990000,20.080000,NaN,NaN,32.560000,18.020000,NaN,NaN,25.640000

In [22]:
max_sharpe.round(decimals=2)

,Portfolio 1,Portfolio 2,Portfolio 3,Portfolio 4,Portfolio 5,Portfolio 6,Portfolio 7,Portfolio 8,Portfolio 9,Portfolio 10
Return,0.36,0.27,0.29,0.36,0.36,0.31,0.31,0.33,0.31,0.32
Volatility,0.25,0.21,0.24,0.23,0.25,0.23,0.21,0.23,0.21,0.22
Sharpe Ratio,1.22,1.01,0.95,1.32,1.16,1.09,1.20,1.15,1.17,1.18
VaR,0.21,0.21,0.27,0.17,0.24,0.22,0.17,0.21,0.19,0.20
Portfolio Beta,1.14,0.87,1.07,0.96,0.99,0.95,0.87,0.99,1.01,0.92
Treynor Ratio,0.26,0.24,0.21,0.31,0.30,0.26,0.29,0.27,0.25,0.29
Jensen Alpha,0.19,0.13,0.13,0.21,0.20,0.16,0.17,0.17,0.16,0.18
icici,19.73,NaN,18.18,NaN,NaN,19.83,1.66,NaN,NaN,20.69
reliance,24.43,NaN,NaN,31.25,NaN,20.45,33.34,NaN,30.20,NaN
srf,27.29,NaN,NaN,36.98,41.64,NaN,NaN,27.23,NaN,33.59
tatasteel,19.31,NaN,NaN,11.33,34.74,NaN,NaN,18.55,19.03,NaN
voltas,9.23,NaN,22.74,NaN,NaN,26.22,24.77,NaN,15.39,NaN
hdfc,NaN,23.87,21.55,NaN,NaN,0.94,NaN,5.55,19.07,NaN
wipro,NaN,11.96,NaN,16.04,20.40,NaN,NaN,31.97,NaN,17.61
hcltech,NaN,20.65,NaN,4.39,2.33,NaN,22.22,NaN,16.31,NaN
cholafin,NaN,18.52,17.46,NaN,0.89,NaN,NaN,16.71,NaN,2.47
crompton,NaN,24.99,20.08,NaN,NaN,32.56,18.02,NaN,NaN,25.64